<ul class="posts">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(post.photo.url(:thumb)), "#myModal", :data => {:toggle => "modal", :id => post.id}, :class => "btn" %>
        <div class="caption">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
            <span class="timestamp">
              Posted <%= time_ago_in_words(post.created_at) %> ago.
            </span>
        </div>
      </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= post.title %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag post.photo.url, size: "550x550" %>
      </div>
      <div class="modal-footer">
        <p><%= post.description %></p>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago.
        </span>
      </div>
    </div>
  </div>
</div>



  <% end %>
</ul>
