<ul class="posts">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(post.photo.url(:thumb)), "#", "data-toggle" => "modal", "data-target" => "#post_#{post.id}" %>
        <div class="caption">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
            <span class="timestamp">
              Posted <%= time_ago_in_words(post.created_at) %> ago.
            </span>
        </div>
        <div class="caption">
            <% post.comments.each do |comment| %>
              <div>
                <strong><%= comment.user.email %></strong>
                <p><%= comment.content %></p>
                <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <!-- Modal -->
<%= div_for(post, class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true") do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= post.title %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag post.photo.url(:medium), size: "570" %>
      </div>
      <div class="modal-footer">
        <p><%= post.description %></p>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago.
        </span>
      <%= form_for @comment do |comment| %>
        <%= comment.text_field :content, :placeholder => "Add a comment", :class => "form-control" %>
        <%= comment.hidden_field :post_id, :value => post.id %>
        <%= comment.submit "Comment", :class => "btn btn-primary btn-xs"%>
      <% end %>
      </div>
    </div>
  </div>
<% end %>


  <% end %>
</ul>
